@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ffffff;
    font-family: 'Jacquard 12', sans-serif;
}
img{
    width: 100%;
}
.news-tab{
    /* height: 40px; */
    text-wrap: nowrap;
    padding: 5px 0;
    background-color: #fad3fe;
    color: #5d5d5d;
}
.news-tab p{
    font-size: 10px;
    overflow: hidden;
    position: relative;
}
.container{
    display: flex;
    min-height: 100vh;
}
.side-bar{
    background-color: #fedefd;
    width: 20%;
    padding: 30px 5px;
}
.profile-img{
    border-bottom: 1px solid #ffffff;
    text-align: center;
}
.profile-img img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.personal-info p{
    margin: 15px 0;
    font-size: 20px;
    color: #5d5d5d;
}
.main-page{
    padding: 30px 15px;
    background-image: url(https://img.freepik.com/free-vector/flat-design-wildflower-heart-background_23-2150501084.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
.add-post input[type=text]{
    border: 1px solid #d7ebfd;
    border-radius: 25px;
    padding: 5px 20px;
    width: 85%;
}
.post-author{
    display: flex;
    align-items: center;
}
.posts{
    width: 55%;
    margin: 0 auto;
}
.post{
    padding: 25px 15px;
    background: #f0f8ff8c;
    margin: 15px 10px;
    border-radius: 25px;
}
.post-author-img{
    margin-right: 10px;
}
.post-author-img img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.post-author-name{
    margin: 0 5px;
    background: #d0dafd;
    padding: 1px 3px;
    border-radius: 5px;
    color: #5d5d5d;
}
#addPostButton {
    border: none;
    padding: 7px;
    border-radius: 25px;
    background: #fad3fe;
    color: white;
    font-family: 'Jacquard 12', sans-serif;
    font-size: 26px;
}
.red-borders{
    border: 3px solid #fad3fe;
}
.btn{
    border: none;
    padding: 7px;
    border-radius: 25px;
    background: #d0dafd;
    color: white;
    font-family: 'Jacquard 12', sans-serif;
    font-size: 26px;
    box-shadow: 4px 4px 2px 0px rgb(0 0 0 / 12%);
}
.floating-btns-wrapper{
    position: fixed;
    right: 0;
    top: 3%;
}
.breakfast{
    width: 20%;
    display: inline-block;
}
#milk{
    scale: 2;
}